.signup__content {
  width: 300px;
  margin: 24px auto 0;
}
.signup__title {
  margin: 0 0 24px;
  font-size: 20px;
  line-height: 24px;
  font-family: "CabinetGroteskBold";
}

.signup__error {
  margin: 20px 0 10px 0;
  font-family: "CabinetGroteskBold";
}

.signup__beta-card {
  border: 1px solid #eee;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 8px;
  margin: 32px 0;
}

.signup__beta-card p {
  font-family: "CabinetGrotesk";
}

.signup__code {
  width: 100px;
}

@media screen and (max-width: 630px) {
  .signup__content {
    width: 250px;
  }
}
