.notfound {
  min-width: 250px;
  min-height: 250px;
  max-width: 500px;
  margin: 24px auto;
  font-family: "CabinetGroteskBold";
  font-size: 24px;
}

.notfound__image {
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
}

.notfound__message {
  width: 100%;
  text-align: center;
  margin: 12px 0;
}
